// Цвета
$white: rgba(255, 255, 255, 100);
$white50: rgba(255, 255, 255, 0.5);
$white10: rgba(255, 255, 255, 0.1);
$black: rgba(0, 0, 0, 100);
$dark-grey: rgba(28, 28, 28, 100);

// Отступы
//$mobile-indent: 20px;
$mobile-indent: 1vw;
$tablet-indent: 30px;
$desktop-indent: 40px;
//$tablet-indent-form: 70px;

// Ширины
$tablet-width: 768px;
$desktop-width: 1300px;
//$content-width: $desktop-width - ($desktop-indent * 2); // 1300 - 80 = 1220
$content-width: 64vw;

// Глобальные
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: $dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  letter-spacing: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: $desktop-width) {
  body {
    display: flex;
    flex-direction: column;
  }
}

// Переопределение стилей MUI
// Combobox
.MuiOutlinedInput-notchedOutline {
  border-color: $white50!important;
}

.MuiFormLabel-root {
  color: $white10!important;
}

.MuiInputBase-input {
  color: $white10!important;
}

.MuiSvgIcon-root {
  color: $white10!important;
}
