@use "../../index";
@use "src/components/character/character.module";

.equipment {
  background-color: index.$black;
  border-radius: 0.5vw;
  box-shadow: 0 0.4vw 1.5vw index.$black;
}

.equipment__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0;
  margin: 0;
  width: 100%;

  background-image: url(/img/character.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.equipment__title {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  font-size: 1.3rem;
  text-transform: uppercase;
  background: linear-gradient(97.68deg, #3478e7 .81%, #3cbeea 29.68%, #5dcaee 49.24%, #3cbeea 68.34%, #4397e7 86.12%);
}

.equipment__column {
  list-style: none;
  padding: 0;
}

.equipment__column:last-child {
  float: right;
}

.equipment__slot {
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */

  box-shadow: 0 0.4vw 1.5vw index.$dark-grey;
  border-radius: 0.9vw;
  margin-bottom: .4861111111vw;
  width: 4vw;
  height: 4vw;
}

.equipment__slot img {
  width: 3.8vw;
  height: 3.8vw;
}

